.movieCardContainer {
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary);
    box-shadow: 4px 4px 8px 0 var(--color-border);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.movieCardContainer:hover {
    transform: scale(1.03);
}

.movieCardContainer .posterContainer {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    align-items: center;
}

.movieCardContainer .infosContainer {
    margin: 0.5rem 1rem;
}

.movieCardContainer img {
    width: 95%;
    margin: auto;
}

.movieCardContainer h2 {
    margin-top: 1rem;
    text-align: center;
    font-size: 2.2rem;
}

.movieCardContainer p {
    font-size: 1.6rem;
}