.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    background-color: var(--color-bg);
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navbarContainer a {
    font-size: 2rem;
    color: var(--color-fill);
}

.navbarContainer form input {
    background-color: var(--color-bg);
    border: solid 2px var(--color-border);
    border-radius: 0.5rem 0 0 0.5rem;
    height: 2.4rem;
}
.navbarContainer form button {
    color: var(--color-primary);
    background-color: var(--color-bg);
    border: solid 2px var(--color-border);
    border-radius: 0 0.5rem 0.5rem 0;
    height: 2.4rem;
}