.light:root {
    --color-primary: #1446A0;
    --color-secondary: #F5D547;
    --color-bg: #3C3C3B;
    --color-text: #fff;
    --color-fill: #EBEBD3;
    --color-border: #000;
}

.dark:root {
    --color-primary: #1446A0;
    --color-secondary: #F5D547;
    --color-bg: #DB3069;
    --color-text: #fff;
    --color-fill: #EBEBD3;
    --color-border: #000;
}

html {
    font-size: 62.5%;
}