@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&family=Roboto:wght@100;400;700;900&display=swap');

:root {
    --color-primary: #344966;
    --color-secondary: #E6AACE;
    --color-bg: #0D1821;
    --color-text: #fff;
    --color-fill: #F0F4EF;
    --color-border: #000000;
}

html {
    font-family: 'Catamaran', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}